export(get.critical.results.G)
export(get.observed.data.G)
export(get.obs.geno)
export(get.obs.pheno)
export(glm.analysis.G)
export(misclassify)
export(power.calc)
export(run.espresso.G)
export(samplsize.calc)
export(sim.CC.data.G)
export(sim.geno.data)
export(sim.pheno.bin.G)
export(sim.pheno.qtl.G)
export(sim.QTL.data.G)
export(sim.subject.data)
